# IDE droppings
.idea/
.project/
nbproject/

lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

# for initial development, do not fix components
bower_components/
