# IDE droppings
.idea/
.project/
nbproject/

lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

# for initial development, do not fix components
bower_components/

# and don't put dists into public
/public/javascripts/gis3dom.js
/public/javascripts/gis3dom.min.js
/dist/
