html
        title #{title}
        script(type='text/javascript', src='/x3dom/x3dom-full.debug.js')
        script(type='text/javascript', src='/javascripts/jquery-1.11.0.js')
        script(type='text/javascript', src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
        link(rel="stylesheet" href="/stylesheets/gis3dom.css")
        link(rel="stylesheet" href="/x3dom/x3dom.css")
        script(type='text/javascript', src='/javascripts/gis3dom.js')
        script.
            // TODO: SB find a better way of listening to readiness of gis3dom...
            gis3dom.ready = function() {
                if(gis3dom.getGis3DWidget()) {
                    gis3dom.getGis3DWidget().addLayer("Gelände", "/x3d/Palatin_Gelaende.x3d");
                    gis3dom.getGis3DWidget().addLayer("Nicht datiert", "/x3d/Palatin_nicht_datiert.x3d");
                    gis3dom.getGis3DWidget().addLayer("Frühe Kaiserzeit", "/x3d/Palatin_Phase02_fruehe_Kaiserzeit.x3d");
                    gis3dom.getGis3DWidget().addLayer("Flavisch 2", "/x3d/Palatin_Phase04_Flavisch2.x3d");
                    gis3dom.getGis3DWidget().addLayer("Flavisch 3", "/x3d/Palatin_Phase05_Flavisch3.x3d");
                    gis3dom.getGis3DWidget().addLayer("Phase 7", "/x3d/Palatin_Phase07_Anfang2Jh.x3d");
                    gis3dom.getGis3DWidget().showLayerWidget();
                    gis3dom.getGis3DWidget().showToolbarWidget();
                    gis3dom.getGis3DWidget().showToolbarButton();
                }
            }

    body
    block content
        h1 Welcome to #{title}
        label Canvas Width
        <input type = "text" id="CanvasWidth"/>
        label Canvas Height
        <input type = "text" id="CanvasHeight"/>
        <input type = "button" value="Set Size" onclick="gis3dom.getGis3DWidget().setCanvasSize(document.getElementById('CanvasWidth').value, document.getElementById('CanvasHeight').value)" id="setValues"/>
        <input type = "button" value="Set Defalut Size" onclick="gis3dom.getGis3DWidget().setDefaultCanvasSize(document.getElementById('CanvasWidth'), document.getElementById('CanvasHeight'))" id="setDefault"/>
        gis3d