doctype html
html
    head
        title #{title}
        script(type='text/javascript', src='/javascripts/jquery-1.11.0.js')
        script(type='text/javascript', src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
        script(type='text/javascript', src='/javascripts/jgis.js')
        script.
            $(function() {
                $("#nav_mode").buttonset();
                $("button").button().click(function( event ) {
                    event.preventDefault();
                    if(gis3DCanvases && gis3DCanvases.length > 0) {
                         gis3DCanvases[0].showAll();
                    }
                });
            });

            function setNavigationMode(navigationMode) {
                 if(gis3DCanvases && gis3DCanvases.length > 0) {
                    // set the navigation mode on the first gis3d canvas!
                     gis3DCanvases[0].setNavigationMode(navigationMode);
                 }
             }
    body
    block content
        h1 Welcome to #{title}

        // TODO: use a jquery ui toolbar!
        div#left_navigation_bar(style="float: left")
            button Show All
        form
            div#nav_mode
                input(type="radio" name="nav_mode" id="examine" onclick='setNavigationMode("examine")' checked="checked")
                label(for="examine") Examine
                input(type="radio" name="nav_mode" id="fly" onclick='setNavigationMode("fly")')
                label(for="fly") Fly
                input(type="radio" name="nav_mode" id="game" onclick='setNavigationMode("game")')
                label(for="game") Game
                input(type="radio" name="nav_mode" id="helicopter" onclick='setNavigationMode("helicopter")')
                label(for="helicopter") Helicopter
                input(type="radio" name="nav_mode" id="lookAt" onclick='setNavigationMode("lookAt")')
                label(for="lookAt") LookAt
                input(type="radio" name="nav_mode" id="lookAround" onclick='setNavigationMode("lookAround")')
                label(for="lookAround") LookAround
                input(type="radio" name="nav_mode" id="walk" onclick='setNavigationMode("walk")')
                label(for="walk") Walk



        gis3d

